Import the necessary modules and packages

In [35]:
pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pyspark in /usr/local/lib/python3.7/dist-packages (3.2.1)
Requirement already satisfied: py4j==0.10.9.3 in /usr/local/lib/python3.7/dist-packages (from pyspark) (0.10.9.3)

In [17]:
import numpy as np
import pandas as pd
import pyspark

In [18]:
from pyspark import SparkConf, SparkContextfrom pyspark.sql import SparkSession
from pyspark.sql.functions import udf 
from pyspark.sql import functions as F 
from pyspark.sql.types import StructField, StringType, IntegerType, StructType

In [20]:
print([(x.__name__,x.__version__) for x in [np, pd, pyspark]])

spark = pyspark.sql.SparkSession.builder.appName('BOSTON').getOrCreate()
sc = spark.sparkContext
sqlContext = SQLContext(sc)
sc.setLogLevel("INFO")

[('numpy', '1.21.6'), ('pandas', '1.3.5'), ('pyspark', '3.2.1')]

/usr/local/lib/python3.7/dist-packages/pyspark/sql/context.py:79: FutureWarning: Deprecated in 3.0.0. Use SparkSession.builder.getOrCreate() instead.
  FutureWarning

In [21]:
from pyspark.ml.feature import (VectorAssembler, VectorIndexer,
                               OneHotEncoder, StringIndexer)

Q.1 Read the boston.csv file in a Hive table

Q2. Read the data from Hive table as spark dataframe

In [36]:
spark_dataframe=spark.read.csv("boston.csv",header=True,inferSchema=True)
spark_dataframe.show(5)

+-----------+----+-----------+----+-----------+-----------+-----------+-----------+---+---+-----------+-----------+-----------+-----------+
|       CRIM|  ZN|      INDUS|CHAS|        NOX|         RM|        AGE|        DIS|RAD|TAX|         PT|          B|      LSTAT|         MV|
+-----------+----+-----------+----+-----------+-----------+-----------+-----------+---+---+-----------+-----------+-----------+-----------+
|    0.00632|18.0|2.309999943|   0|0.537999988|6.574999809|65.19999695|4.090000153|  1|296|15.30000019|396.8999939|4.980000019|       24.0|
|0.027310001| 0.0|7.070000172|   0|0.469000012|6.421000004|78.90000153|4.967100143|  2|242|17.79999924|396.8999939|9.140000343|21.60000038|
|    0.02729| 0.0|7.070000172|   0|0.469000012|7.184999943|61.09999847|4.967100143|  2|242|17.79999924|392.8299866| 4.03000021|34.70000076|
|0.032370001| 0.0|2.180000067|   0|0.458000004|6.998000145|45.79999924|6.062200069|  3|222|18.70000076|394.6300049|2.940000057|33.40000153|
|0.069049999| 0.0|2.180000067|   0|0.458000004|7.146999836|54.20000076|6.062200069|  3|222|18.70000076|396.8999939|5.329999924|36.20000076|
+-----------+----+-----------+----+-----------+-----------+-----------+-----------+---+---+-----------+-----------+-----------+-----------+
only showing top 5 rows

In [25]:
spark_dataframe.write.saveAsTable("hive_table")
spark_dataframe.show(3)

+-----------+----+-----------+----+-----------+-----------+-----------+-----------+---+---+-----------+-----------+-----------+-----------+
|       CRIM|  ZN|      INDUS|CHAS|        NOX|         RM|        AGE|        DIS|RAD|TAX|         PT|          B|      LSTAT|         MV|
+-----------+----+-----------+----+-----------+-----------+-----------+-----------+---+---+-----------+-----------+-----------+-----------+
|    0.00632|18.0|2.309999943|   0|0.537999988|6.574999809|65.19999695|4.090000153|  1|296|15.30000019|396.8999939|4.980000019|       24.0|
|0.027310001| 0.0|7.070000172|   0|0.469000012|6.421000004|78.90000153|4.967100143|  2|242|17.79999924|396.8999939|9.140000343|21.60000038|
|    0.02729| 0.0|7.070000172|   0|0.469000012|7.184999943|61.09999847|4.967100143|  2|242|17.79999924|392.8299866| 4.03000021|34.70000076|
+-----------+----+-----------+----+-----------+-----------+-----------+-----------+---+---+-----------+-----------+-----------+-----------+
only showing top 3 rows

In [38]:
spark_dataframe.printSchema()

root
 |-- CRIM: double (nullable = true)
 |-- ZN: double (nullable = true)
 |-- INDUS: double (nullable = true)
 |-- CHAS: integer (nullable = true)
 |-- NOX: double (nullable = true)
 |-- RM: double (nullable = true)
 |-- AGE: double (nullable = true)
 |-- DIS: double (nullable = true)
 |-- RAD: integer (nullable = true)
 |-- TAX: integer (nullable = true)
 |-- PT: double (nullable = true)
 |-- B: double (nullable = true)
 |-- LSTAT: double (nullable = true)
 |-- MV: double (nullable = true)

Q3. Get the correlation between dependent and independent 
variables

In [27]:
import six
for i in spark_dataframe.columns:
    if not( isinstance(spark_dataframe.select(i).take(1)[0][0], six.string_types)):
        print( "Correlation to MV for ", i, spark_dataframe.stat.corr('MV',i))

Correlation to MV for  CRIM -0.3883046116575088
Correlation to MV for  ZN 0.36044534463752903
Correlation to MV for  INDUS -0.48372517128143383
Correlation to MV for  CHAS 0.17526017775291847
Correlation to MV for  NOX -0.4273207763683772
Correlation to MV for  RM 0.695359937127267
Correlation to MV for  AGE -0.37695456714288667
Correlation to MV for  DIS 0.24992873873512172
Correlation to MV for  RAD -0.3816262315669168
Correlation to MV for  TAX -0.46853593528654536
Correlation to MV for  PT -0.5077867038116085
Correlation to MV for  B 0.3334608226834164
Correlation to MV for  LSTAT -0.7376627294671615
Correlation to MV for  MV 1.0

In [28]:
from pyspark.ml.feature import VectorAssembler
vectorAssembler = VectorAssembler(inputCols = ['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX', 'PT', 'B', 'LSTAT'], outputCol = 'features')
spark_dataframe_1 = vectorAssembler.transform(spark_dataframe)
spark_dataframe_1 = spark_dataframe_1.select(['features', 'MV'])
spark_dataframe.show(5)

+-----------+----+-----------+----+-----------+-----------+-----------+-----------+---+---+-----------+-----------+-----------+-----------+
|       CRIM|  ZN|      INDUS|CHAS|        NOX|         RM|        AGE|        DIS|RAD|TAX|         PT|          B|      LSTAT|         MV|
+-----------+----+-----------+----+-----------+-----------+-----------+-----------+---+---+-----------+-----------+-----------+-----------+
|    0.00632|18.0|2.309999943|   0|0.537999988|6.574999809|65.19999695|4.090000153|  1|296|15.30000019|396.8999939|4.980000019|       24.0|
|0.027310001| 0.0|7.070000172|   0|0.469000012|6.421000004|78.90000153|4.967100143|  2|242|17.79999924|396.8999939|9.140000343|21.60000038|
|    0.02729| 0.0|7.070000172|   0|0.469000012|7.184999943|61.09999847|4.967100143|  2|242|17.79999924|392.8299866| 4.03000021|34.70000076|
|0.032370001| 0.0|2.180000067|   0|0.458000004|6.998000145|45.79999924|6.062200069|  3|222|18.70000076|394.6300049|2.940000057|33.40000153|
|0.069049999| 0.0|2.180000067|   0|0.458000004|7.146999836|54.20000076|6.062200069|  3|222|18.70000076|396.8999939|5.329999924|36.20000076|
+-----------+----+-----------+----+-----------+-----------+-----------+-----------+---+---+-----------+-----------+-----------+-----------+
only showing top 5 rows

In [29]:
split = spark_dataframe_1.randomSplit([0.7, 0.3])
train_df = split[0]
test_df = split[1]

Q4. Build a linear regression model to predict house price

In [30]:
from pyspark.ml.regression import LinearRegression
lr = LinearRegression(featuresCol = 'features', labelCol='MV', maxIter=10, regParam=0.3, elasticNetParam=0.8)
lr_model = lr.fit(train_df)
print("Coefficients: " + str(lr_model.coefficients))
print("Intercept: " + str(lr_model.intercept))

Coefficients: [-0.04630100371686804,0.012026824303371802,0.0,1.3897431378388516,-6.452517740188054,5.040230083728225,0.0,-0.5867766709204222,0.0,0.0,-0.7773450138376635,0.01018078753927142,-0.48152147669777795]
Intercept: 13.277345898901142

Q5. Evaluate the Linear Regression model by getting the RMSE 
and R-squared values

In [39]:
Summary = lr_model.summary
print("RMSE: %f" %Summary.rootMeanSquaredError)
print("r2: %f" %Summary.r2)

RMSE: 4.805978
r2: 0.732541

In [40]:
lr_predictions = lr_model.transform(test_df)
lr_predictions.select("prediction","MV","features").show(5)
from pyspark.ml.evaluation import RegressionEvaluator
lr_evaluator = RegressionEvaluator(predictionCol="prediction", \
                 labelCol="MV",metricName="r2")
print("R Squared (R2) on test data = %g" % lr_evaluator.evaluate(lr_predictions))

+------------------+-----------+--------------------+
|        prediction|         MV|            features|
+------------------+-----------+--------------------+
|17.427297987365865|18.89999962|[0.0136,75.0,4.0,...|
| 30.64644930941655|29.10000038|[0.01439,60.0,2.9...|
|27.858713267841228|       24.5|[0.01501,80.0,2.0...|
| 35.74468357956951|       44.0|[0.01538,90.0,3.7...|
| 26.86465884310111|       33.0|[0.019509999,17.5...|
+------------------+-----------+--------------------+
only showing top 5 rows

R Squared (R2) on test data = 0.661658

In [41]:
test_result = lr_model.evaluate(test_df)
print("RMSE on test data = %g" % test_result.rootMeanSquaredError)

RMSE on test data = 5.17322

In [42]:
predictions = lr_model.transform(test_df)
predictions.select("prediction","MV","features").show()

+------------------+-----------+--------------------+
|        prediction|         MV|            features|
+------------------+-----------+--------------------+
|17.427297987365865|18.89999962|[0.0136,75.0,4.0,...|
| 30.64644930941655|29.10000038|[0.01439,60.0,2.9...|
|27.858713267841228|       24.5|[0.01501,80.0,2.0...|
| 35.74468357956951|       44.0|[0.01538,90.0,3.7...|
| 26.86465884310111|       33.0|[0.019509999,17.5...|
| 40.38651188051962|       50.0|[0.020090001,95.0...|
|25.501496817133145|21.60000038|[0.027310001,0.0,...|
| 30.10058598439426|33.40000153|[0.032370001,0.0,...|
|20.083809354308126|       19.5|[0.03427,0.0,5.19...|
|24.152689682105652|19.39999962|[0.03466,35.0,6.0...|
|22.735308982292587|20.89999962|[0.03548,80.0,3.6...|
|28.770097703835397|       23.5|[0.035840001,80.0...|
|28.852777730680174|27.89999962|[0.036150001,80.0...|
| 32.90178847494359|35.40000153|[0.037050001,20.0...|
| 36.35182373251368|33.29999924|[0.040109999,80.0...|
|22.426207305666594|20.60000038|[0.04527,0.0,11.9...|
|29.391110539514628|28.20000076|[0.049320001,33.0...|
|24.803047616173863|23.89999962|[0.050590001,0.0,...|
|31.246639398401708|28.70000076|[0.05302,0.0,3.41...|
| 32.42658967668142|       29.0|[0.055610001,70.0...|
+------------------+-----------+--------------------+
only showing top 20 rows